@font-face {
    font-family: IRANSansWeb;
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot');
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-sanse/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/font-sanse/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}


html,body,div,header,span,h1,h2,h3,h4,h5,h6,a,p,table,button,input,textarea{
    font-family: IRANSansWeb !important;
}
body{
    direction: rtl;
}
.ltr-dir{
    direction: ltr !important;
}
.direction-rtl{
    direction: rtl !important;
    padding: 20px !important;
}
.background-blog{
    background-color: #fff;
    padding: 17px;
    height: 298px;
}
.item-slick3{
    position: sticky !important;
}
.list-details{
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
    margin: 0px;
}
.list-details li span:nth-child(1){
    color: #1a8d3d !important;
    /* display: none; */
}
.bb img{
    height: 510px !important;
}
.more-details span{
    float: left;
    color: blue;
    font-size: 12px;
    margin-top:15px;
}
.custom-style-cost s{
    font-size: 14px;
    color: rgb(160, 160, 160);
  }
  .block2:hover{
      box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
      transition: 400ms;
  }
  .block2-txt{
    padding: 20px;
  }

