@font-face {
    font-family: IRANSansWeb;
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot');
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-sanse/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/font-sanse/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}


html,body,div,header,span,h1,h2,h3,h4,h5,h6,a,p,table,button,input,textarea{
    font-family: IRANSansWeb !important;
}
body{
    direction: rtl;
}
.ltr-dir{
    direction: ltr !important;
}
.direction-rtl{
    direction: rtl !important;
    padding: 20px !important;
}
.background-blog{
    background-color: #fff;
    padding: 20px;
    height: 210px;
}
.item-slick3{
    position: sticky !important;
}
.list-details{
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
    margin: 0px;
}
.list-details li span:nth-child(1){
    color: #1a8d3d !important;
    /* display: none; */
}
.bb img{
    height: 510px !important;
}